################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/
/bin/
/install/
/packages/
/.vs/config
*.suo
/DNNRadTagCloud.csproj.user
Resources.zip
